.snackcontainer{
    width:100%;
    margin:0 auto;
}
.snackrow{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.snackcol1{
    width:20%;
    position:relative;
    transition: 0.3s;
    padding:10px 10px;
}
.snackcontent{
    display: flex;
    flex-wrap: wrap;
}
.snackcol3{
    width: 25%;
    padding: 20px 10px;
}
.snackcol2{
    width:70%;
}
.snackbtn{
    color: #689f38;
    background-color: rgb(227, 235, 218);
    border:none;
    font-weight: 600;
    padding: 1px 5px 2px 5px;
    border-radius: 1px;
}