*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.teamcontainer{
    width:80%;
    margin:0 auto;
}
.teamcontainer h1{
    font-weight: 400;
    font-size: 40px;
    color: #0c5b47;
    text-align: center;
    padding-bottom: 40px;
}
.teamrow{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.teamcol{
    width:25%;
    position:relative;
    transition: 0.3s;
    padding:10px 10px;
}

.position{
    position: relative;
}
.css-o69gx8-MuiCardMedia-root {
    width:50% !important;
}

.headimage img{
   width:100%;
   padding-top: 20px;
}
.image-card{
    display: flex;
    justify-content: center;
}

.cardflex{
    display: flex;
    padding: 8px 0;

}
.cardicon{
    color:gray;
    padding-right:10px;
}
.cardfoot{
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */

}
.footicon{
    background: #fee67c;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    padding:10px;
    margin-top:3px;
    transition: 0.5s;
}
input{
    text-align: center;
    border: none;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding:0 !important;
    height:0 !important;
}
.offer{
    position: absolute;
    top:0;
    text-align: center;
    background-color: #fff;
    color:red;
    box-shadow: 0 0 20px #ccc;
    padding: 4px;
}
.css-46bh2p-MuiCardContent-root {
    padding: 11px 16px;
}
.offericon{
    font-size: 14px !important;
}