.fruitcontainer{
    width:100%;
    margin:0 auto;
}
.fruitrow{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.fruitcol1{
    width:20%;
    position:relative;
    transition: 0.3s;
    padding:10px 10px;
}
.fruitcontent{
    display: flex;
    flex-wrap: wrap;
}
.fruitcol3{
    width: 25%;
    padding: 20px 10px;
}
.fruitcol2{
    width:70%;
}