.fruitcontainer{
    width:100%;
    margin:0 auto;
    padding: 50px 0;
}
.fruitrow{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.fruitcard{
    padding: 28px 5px;

}
.fruitcol1{
    width:20%;
    transition: 0.3s;
    padding:10px 10px;
}
.fruitcontent{
    display: flex;
    flex-wrap: wrap;
}
.fruitcol3{
    width: 25%;
}
.fruitcol2{
    width:70%;
}
.css-1xez8po-MuiPaper-root-MuiCard-root {
    position: relative ;
}
.fruitfoot{
    text-align: center;
    font-size: 30px;
    color:red;
}


