.nav-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height:100px;
  background-color: #fff;
  }
  .navimg img{
     width:60%;
  }
  .searchic{
    background-color:lightgreen;
    color:#000;
    padding: 7px 0;
  }
  ::placeholder{
    color:#000 !important;
    padding-left: 20px;
  }
  .shopicon{
    color:red;
    padding: 20px 40px;
  }